.audio-editor-clip-fade {
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
	bottom: 2px;
	z-index: 1003;
	pointer-events: none;
	overflow: visible;
}

.audio-editor-clip-fade__curve {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
